<!DOCTYPE html>
<html>
<head>
  <title>ToEat.ly</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../css/main.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
  <script src="../js/app.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
  <div id="page-wrapper" class="well">
    <header class="page-header">
      <h1>ANIMAL SHELTER</h1>
    </header>
   
   <form action="/new" method="post">
    <input type="text" name="title" placeholder="title">
    <input type="submit" value="submit">
    <ul class="list-group" id="food-ul"></ul>
  </div>
</body>
</html>